@{
    ViewBag.Title = "show";
}

<h2>Teacher Details</h2>
<nav>
    <a href="/Teacher/list">Go back to List</a>

</nav>
<nav class="navlink">
    <a href="/Teacher/update/@Model.TeacherId">Update this record</a>
</nav>

<div>
    <h3> Employee Name : @Model.Teacherfname       @Model.Teacherlname      </h3> <br />
    <h3>Emplyee no:  @Model.Employeenumber</h3><br />
    <h3>Hire date: @Model.Hiredate</h3> <br />
    <h3>Salary:@Model.Salary <
</div>/h3><br />


<div>
    <a href="/Teacher/delete_confirm/@Model.TeacherId"><p>Delete this record</p></a>
</div>